@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  user-select: none;
  overflow-x: hidden;
}

.contenedorNav {
  position: fixed;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8rem;
  padding-right: 8rem;
  z-index: 80;
}
.contenedorNav .logo {
  max-width: 100%;
  width: 5rem;
  height: auto;
  object-fit: cover;
  filter: invert(0);
}
.contenedorNav--active {
  opacity: 0;
  pointer-events: none;
}
.contenedorNav .navDesktop__link {
  display: inline-block;
  margin-left: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #EAEAEA;
  transition: color 0.3s ease;
  pointer-events: unset;
}
.contenedorNav .navDesktop__link:hover {
  color: #e67e22;
}
.contenedorNav .navDesktop__link--active {
  color: #e67e22;
  border-bottom: 2px solid #e67e22;
  pointer-events: none;
}
.contenedorNav .botonMenu {
  position: absolute;
  right: 8rem;
  top: auto;
  bottom: auto;
  background-color: #000;
  pointer-events: unset;
}
.contenedorNav .botonMenu__imagen {
  max-width: 100%;
  width: 2.5rem;
  height: auto;
  object-fit: cover;
  filter: invert(1);
  pointer-events: none;
}
.contenedorNav .navMobile {
  background-color: #000;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0rem;
  padding-bottom: 2rem;
  transition: right 1s ease;
}
.contenedorNav .navMobile--active {
  right: 0%;
}
.contenedorNav .navMobile__link {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #EAEAEA;
  transition: color 0.3s ease;
  pointer-events: unset;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.contenedorNav .navMobile__link--active {
  width: 100%;
  background-color: #e67e22;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .contenedorNav {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .contenedorNav .botonMenu {
    right: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .contenedorNav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .contenedorNav .botonMenu {
    right: 2rem;
  }
  .contenedorNav .navMobile {
    width: 100%;
  }
}

.inicioHero {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8rem;
  padding-right: 8rem;
}
.inicioHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/image/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.inicioHero__title {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #EAEAEA;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 4rem;
}

.inicioContent {
  background-color: #000;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}
.inicioContent__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #EAEAEA;
  margin-bottom: 2rem;
}
.inicioContent__parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #EAEAEA;
}
.inicioContent__imagen {
  max-width: 100%;
  width: 30rem;
  height: 35rem;
  object-fit: cover;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
