
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    user-select: none;
    overflow-x: hidden;
}
