@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// COLOR

$color-grisClaro: #EAEAEA;
$color-amarillo: #f1c40f;
$color-naranja: #e67e22;
$color-morado: #9b59b6;
$color-azul: #3498db;
$color-verde: #2ecc71;
$color-negro: #000;

// Font

$font-parrafo: "Roboto", sans-serif;
$font-titulo: "Montserrat", sans-serif;
